<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG APP</title>
</head>

<body>
    <% if(hostels.length > 0) { %>
        <h1>
            <%= hostels[0].cityName %>
        </h1>
        <% } %>


            <% hostels.forEach(hostel => {  %>

                <div>
                    <% hostel.hostel.forEach(hos => { %>

                        <h2>
                            <%= hos.type %>
                        </h2>

                        <h2>
                            <%= hos.street %>
                        </h2>

                        <h2>
                            <%= hos.locality %>
                        </h2>

                        <h2>
                            <%= hos.pincode %>
                        </h2>

                        <% hos.seater.forEach(h => {  %>
                            <h3>
                                <%= h.seaterType %>
                            </h3>
                            <h3>
                                <%= h.price %>
                            </h3>
                            <% }); %>

                                <% }); %>
                </div>
                <% }); %>
</body>

</html>